<!--<app-header>

</app-header>

<router-outlet>

</router-outlet>-->

<!--<h1>This is from parent</h1>

 Data transfer b/w parent to child (parent-----child) so write the content in the parent component so it will display it in the child component 
 <app-child></app-child>
 
 <h1>inputForParent</h1>

<app-child [inputForParent]="forChild"></app-child>
    <h1>Main Page</h1>
    <app-app></app-app> 
    
    <div>
    <h1>Parent Component</h1>
    <app-child (childEvent)="addName($event)"></app-child>
    <p>Displaying names entered in child component input field</p>
    <label>Names:</label>
    <br />
    <p *ngFor="let name of names">
    <span>{{ name }}</span>
    </p>
 </div>-->

